.header-font{
    font-family:"cheap pine",Georgia,Serif;
}


.descriptionTA {
    resize: vertical;
    height: 60%;
    width: 80%;
    overflow: hidden;
}

.taskBusiness{
    width: 100%;
    position: fixed;
    bottom: 10%;
}
.viwTaskBottom input{
    color: blue !important;
}

#addnotesbtn{
    color: blue;
}

.display20{
    width: 100%;
    position: fixed;
    bottom: 20%;
}

textarea.ui-input-text
{
    height: inherit !important;
}
#divtaskbtn .ui-btn-left{
    margin: 5px 5px 5px 5px;
}

#editable input{
    text-align: center;
}
#editable a {
    color: blue;
}

.refreshbtn{
    margin: auto;
    display: block;
    padding-top: 2%;
    width: 8%;
}

.actionMsg{
	position: fixed;
	width: 100%;
	text-align: center;
	color: orange;
	bottom: 10%;
	display: inline;
	z-index: 1000;
}

.noConnectionHide{
    display: none;
}
.noConnectionShow{
    z-index: 10000;
    position: fixed;
    bottom: 0;
    display: block;
}
#noConnection{
    background: silver;
    text-align: center;
    width: 100%;
    height: 10%;
    padding: 5px;
    color:red;
}
.ui-page {
    -webkit-backface-visibility: hidden;
}
